{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movie.title}}</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--Flickity-->
    <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
    <!--Main Style-->
    <link rel="stylesheet" href="{% static 'sass/main.css' %}">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 header__logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/Logo.png' %}" alt="MOOVIE">
                    </a>
                </div>
                <div class="col-lg-6 header__menu">
                    <ul>
                        <li class="header__menu-item "><a href="{% url 'home' %}">Home</a></li>
                        <li class="header__menu-item "><a href="{% url 'movie_list' type='rand' %}">Movies</a></li>
                        <li class="header__menu-item "><a href="{% url 'genres' %}">Genres</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 header__search">
                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <div class="header__search-container">
                            <input type="text" name="search" id="" placeholder="Search ...">
                            <i class="moovie moovie-search"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="section movie-detail">
        <div class="container">
            <div class="row">
                <div class="col-5 movie-detail__pic">
                    <img src="{{movie.poster}}" alt="">
                </div>
                <div class="col-7 section-with-title ">
                    <div class="section-with-title__title movie-detail__name">
                        {{movie.title}}
                    </div>
                    <p class="movie-detail__movie-about">
                        {{movie.overview}}
                    </p>
                    <div class="movie-detail__label">
                        <span class="label">Director :</span>
                        {%for director in movie.directors %}
                            <span class="data"> {{director}} </span> 
                        {%endfor%}
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Writers :</span>
                        {%for writer in movie.writers %}
                            <span class="data"> {{writer}} </span> 
                        {%endfor%}
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Stars : </span>
                        <span class="data">
                        {{movie.casts|join:", "}}
                        </span> 
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Genres :</span>
                        <span class="data">
                            <ul class="movie-detail__genres-list">
                                <li>
                                {% for genre in movie.genres %}
                                    <a href="{% url 'movie_list' type=genre %}">{{genre}}</a>
                                {% endfor %}
                                </li>
                            </ul>

                        </span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Release Year :</span>
                        <span class="data">{{movie.release_date}} </span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Running Time :</span>
                        <span class="data">{{movie.runtime}} minutes</span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">language :</span>
                        <span class="data">{{movie.language}} </span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Country :</span>
                        <span class="data">{{movie.countries}} </span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Companies :</span>
                        <span class="data">{{movie.companies}} </span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">Budget :</span>
                        <span class="data">{{movie.budget}} $</span>
                    </div>
                    <div class="movie-detail__label">
                        <span class="label">IMDB Vote rate :</span>
                        <span class="data">{{movie.vote_average}} of {{movie.vote_count}} votes </span>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

<div class="section suggestion-slider">
        <div class="container">
            <div class="row">
                <div class="col-12 section-with-title ">
                    <div class="section-with-title__title">
                        <span>Our Suggestion</span> for you in <span>{{genre}}</span> Genre
                    </div>
                    <div class="slider suggestion-slider__slider">
                        <div class="carousel" data-flickity='{  "wrapAround": true, "pageDots" : false,
                        "rightToLeft": false, "cellAlign": "left" ,  "contain": true , "imageLoaded" : true }'>

                                {%for movie in related_movies%}    
                                <div class="carousel-cell movie-item">
                                        
                                    <div class="movie-item--link">
                                            <a href="{% url 'movie_detail' movie_id=movie.id %}" class="cover-link"></a>
                                            <img class="movie-item__img" src="{{movie.poster}}" alt="">
                                            <div class="movie-item__overlay">
                                                <a href="{% url 'movie_detail' movie_id=movie.id %}" class="movie-item__title">{{movie.title}}</a>
                                                <ul class="movie-item__genre-list">
                                                    <li class="movie-item__genre">
                                                        {% for genre in movie.genres %}
                                                            <a href="{% url 'movie_list' type=genre %}">{{genre}}</a>
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                                <p class="movie-item__movie-about">
                                                    {{movie.overview}}
                                                </p>
                                                <div class="movie-item__label">
                                                    <span class="label">Director :</span>
                                                    {%for director in movie.directors %}
                                                        <span class="data"> {{director}} </span> 
                                                    {%endfor%}
                                                </div>
                                                <div class="movie-item__label">
                                                    <span class="label">Writers :</span>
                                                    {%for writer in movie.writers %}
                                                        <span class="data"> {{writer}} </span> 
                                                    {%endfor%}
                                                </div>
                                                <div class="movie-item__label">
                                                    <span class="label">Stars : </span>
                                                    <span class="data">
                                                    {{movie.casts|join:", "}}
                                                    </span> 
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            {%endfor%}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-9 footer__about">
                    <div class="footer__logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'img/Logo.png' %}" alt="MOOVIE">
                        </a>
                    </div>
                    <div class="footer__about-content">
                        <span>&copy; 2020 MOOVIE</span>
                        <span>Created by The Makers Team</span>
                    </div>
                </div>
                <div class="col-3 footer__go-top">
                    <button class="go-top" onclick="$('html, body').animate({scrollTop:0},'100');"><i
                            class="moovie moovie-arrow-up"></i></button>
                </div>
            </div>
        </div>
    </footer>
    <!--JQuery-->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!--Flickity-->
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
    <!--bootstrap-->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!--my JS-->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
